


{% include 'include/head.html'%}

<body>

    
    <!-- ================= NAVBAR ================= -->

    <nav class="social-navbar">

        <div class="social-nav-container">

            <a href="/" class="social-logo">
                Meme<span>Buddy</span> 😂
            </a>

            <div class="nav-search">
                <span>🔍</span>
                <input type="text" placeholder="Search memes...">
            </div>

            <div class="social-nav-actions">

                <a href="/" class="nav-icon active">
                    🏠
                </a>

                <a href="#" class="nav-icon">
                    ➕
                </a>

                <a href="#" class="nav-icon">
                    ❤️
                </a>
                {% if not user.is_authenticated%}

                <a href="{% url 'instagram:register' %}" class="nav-profile">
                    👤
                </a>
                {% endif %}

            </div>

        </div>

    </nav>


    {% block "content"%}
    {% endblock %}



    </body>
</html>
```
